body{
    background-color:#050E02;
}
h2{
margin:150px;
padding:0px;
    color:#7AE07A;
    
    
}
h1{
    color:#7AE07A;
    text-align:center;
}
img{


display:block;
margin:auto;
}